$white: rgb(219, 219, 219);

.Signup {

  background-image: url("./img/pic-of-the-day.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;

  h1 {
      text-align: center;
      color: #fff;
      font-family: 'Chakra Petch', sans-serif;
  }

  .overlay {
    background: rgba(0, 0, 0, .9);
  }

  .btn-to-login, .btn-create-acc, .btn-logout {
      background: rgba(0, 0, 0, .4);
      border-color: $white;
  }

}