$white: rgb(219, 219, 219);
$red: #FF3C00;
$text:#434651;

.Signup {

  background-image: url("./img/pic-of-the-day.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;

  h1 {
      text-align: center;
      color: #fff;
      font-family: 'Chakra Petch', sans-serif;
  }

  .overlay {
    background: rgba(0, 0, 0, .9);
  }

  .btn-to-login, .btn-create-acc, .btn-logout {
      background: rgba(0, 0, 0, .4);
      border-color: $white;
  }

  .error-msg {
    background: rgba(0, 0, 0, .1);
    color: $white;
    text-align: center;
  }

  .alert-color {
    background-color: lighten($red, 40%);
    border: none;
    color: $text;
  }
  
  .signupForm{
    box-shadow: 2px 2px 2px 100vmax rgba(0,0,0,0.4);
  }

  .input-alert {
    border-color: $red;
  }

}