/* color */
$gray: #919192;
$green: #70C1B3;
$blue: #1976D1;
$lightblue: #63A4FF;
$darkblue: #004B9F;
$red: #FF3C00;
$orange: #E38968;
$text:#434651;

.addUserModal {
  .modal-header {
    h4 {
      color: $gray;
    }
  }
  form {
    input {
      margin-bottom: 3px;
      &:focus {
        border-color: $lightblue;
        box-shadow: 0 0 0 0.2rem lightblue;
      }
    }
  }
  .list-group {
    .list-group-item {
      color: $lightblue;
      &:hover {
        background-color: #f2f2f2;
      }
      div:nth-child(1) {
        img {
          width: 35px;
          vertical-align: baseline;
        }
      }
      div:nth-child(2){
        vertical-align: top;
        p:nth-child(2) {
          line-height: 0.6;
        }
      }
    }
  }
  .btn {
    border: none;
    border-radius: 30px;
    &.btn-create {
      background-color: $blue;
      &:hover {
        background-color: $darkblue;
      }
    }

    &.btn-cancel {
      background-color: $gray;
      &:hover {
        background-color: darken($gray, 20%);
      }
    }
  }
}