/* color */
$backgroundColor: #484951;
$gray: #919192;
$green: #70C1B3;
$blue: #1976D1;
$lightblue: #63A4FF;
$darkblue: #004B9F;
$red: #FF3C00;
$darkred: #bb1e2d;
$orange: #E38968;
$text:#434651;

/* font-size */
$fontLg: 20px;
$fontMd: 16px;
$fontSm: 12px;

.starpage-title {
  padding-top: 5px;
  font-size: $fontLg;
  text-align: left;
  font-weight: bold;
  color:  darken($gray, 20%);
}
.chat-header {
  background-color: white;
  .chat-about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    border-bottom: 1px solid #e4e4e4;

    .bottom-item {
        height: 35px;
    }
    .contacts {
        height: 410px;
    }
    #groupName:hover+.show-edit {
        display: block !important;
        z-index: 999;
    }
    #groupName {
        width: 190px;
        padding-left: 20px;
        font-size: $fontSm;
        border-color: white;
    }
    .editable-gn {
        padding: 4px;
    }
    .chat-with {
        padding-top: 5px;
        font-size: $fontLg;
        text-align: left;
        font-weight: bold;
        color:  darken($gray, 20%);
    }
    div.btn.group-menu {
        border: none;
        border-radius: 100px;
        padding: 4px 7px;
        background-color: $blue;
        &:hover {
        background-color: darken($blue, 8%);
        }
        &:focus {
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }
        .dialog-icon {
            float: right;
            color: darken(white, 5%);
            font-size: $fontLg;
            right: 0px;
        }
    }
  }
  .chat-row {
    position: relative;
    height: calc(100vh - 85px);
    margin-top: 95px!important;
    overflow-y: auto;
    @media (max-width: 767.5px) {
      height: calc(100vh - 85px);
    }
  }
}