$gray: #92959E;
$green: #88BD73;
$blue: #94C2ED;
$orange: #E38968;
$text:#434651;

.dialog {
    width:100%;
    padding: 0;
    float: left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100vh;

    .chat-header {

        @media (min-width: 768px) {

        .chat-about{
            padding-top:11px;
            padding-right:45px;
        }
    }
    
        .dropdown-menu {
            height: 77vh;
            position: absolute;
            transform: translate3d(-127px, 50px, 0px) !important;
            border-radius: 5px;
            width: 30vw;
            // border-color: #484951;
            top: 10px !important;
            left: -15vw !important;
            margin-top: 0;
        }
        @media (min-width: 768px) {
            padding-top:2vh;
            height: 60px;
            padding-left: 0px;
          
       
            .mobil-menu{
                display:none;
            }
        }

        @media (max-width: 400px) {
           padding:2vh 2vw;
           height:6vh;
         
           .chat-about{
               height:6vh;
           }


            .mobil-menu{
                padding:0px 0px 5px 0px;
                display:inline-block;
                border:none;
                background-color: #F2F5F8 !important;
                color:$gray;
                width:15vw;
            }
            .chat-with{
                width:69vw;
                text-align: center !important;
                align-self: center;
                font-size:16px;
            }

            .dialog-icon{
                width:8vw;
                padding:0px;
                .dropdown{
                    margin-bottom:5px;
                }
                i{
                    font-size:16px;
                }
            }

            .chat-message{
                //padding:2vw;
                .form-inline{
                    margin-left:15vw !important;
                }
               
          
            }
            
        }
        padding-left: 32px;
        // border-bottom: 1px solid white;
        height: 45px;
        margin-left:0px !important;

        Form {
            height: 0px;
        }


        .dropdown-menu {
            height: 79vh;
            position: absolute;
            transform: translate3d(-100px, 40px, 0px) !important;
            border-radius: 5px;
            width: 200px;
            // border-color: #484951;
            // top: 10px !important;
            left: -45px !important;
            margin-top: 0;
        }

        .bottom-item {
            height: 35px;
        }

        .show-edit {
            position: absolute;
            top: 10px;
            left: 5px;
            display: none;
            color: lighten($gray, 20%);
            font-size: 12px;
            width: 5px;
            height: 0px;
        }

        .contacts {
            height: 410px;
        }

        #groupName:hover+.show-edit {
            display: block !important;
            z-index: 999;
        }

        #groupName {
            width: 190px;
            padding-left: 20px;
            font-size: 12px;
            border-color: white;
        }

        .channel-manage{
            height:66vh;
        }

        .leave-group{
            color:$orange;
        }



        .divider-1 {
            margin-top: 0px;
        }

        .editable-gn {
            padding: 4px;
        }


        .chat-with {
            text-align: left;
            font-weight: bold;
            color:$gray;
            display: inline-block;
            @media (min-width: 768px) {
              width: 70%;
            }
        }

        .dialog-icon {
          // display: inline-block;
          vertical-align: middle;
          float: right;
          color: lighten($gray, 8%);
          font-size: 20px;
          right: 0px;
          // padding-right: 0;
          svg {
            vertical-align: middle !important;
          }
        }

        .dialog-icon:hover {
            color: lighten($gray, 20%);
        }


    }

    .chat-history {
        padding: 0 2vw;
        // padding: 30px 30px 20px;
        border-bottom: 1px solid rgba(128,128,128,0.1);
        overflow-y: scroll;
        height: 75vh;

        @media (max-width: 400px) {
            height:75vh;
            padding-left:7vw;
        }

        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

        .message-data {
            margin-bottom: 15px;
            text-align: left;
            margin-right: 5px;

        }

        .online {
            color: $green;
        }

        .offline {
            color: $gray;
        }

        .circle {
            font-size: 8px;
            vertical-align: middle;
        }

        .me {
            text-align: right !important;
            margin-bottom: 15px;
            margin-right: 5px;
        }

        .message-data-time {
            color: lighten($gray, 8%);
            padding-left: 6px;
        }

        .circle-icon {
            font-size: 8px;
            color: $green;
            vertical-align: middle;
        }

        .message {
            text-align:left;
            color: $text;
            padding: 10px 15px;
            line-height: 26px;
            font-size: 16px;
            border-radius: 6px;
            margin-bottom: 30px;
            max-width: 90%;
            position: relative;

            &:after {
                bottom: 100%;
                // left: 4vw;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-bottom-color: $green;
                border-width: 10px;
                margin-left: -10px;
            }
        }

        .other-message {
            background: white;
            color: $text;

            &:after {
                border-bottom-color: white;
            }
        }

        .my-message {
            background: lighten($green, 8%);
            float: right;

            &:after {
                border-bottom-color: lighten($green, 8%);
                right:10px;
            }

        }
    }

    .chat-message {
        width: 100%;
        padding-bottom: 30px;
        padding-top: 10px;
        height: 10vh;

        .d-none {
            display: none;
        }

        .btn-dropup {
            height: 8vh;
            width: 6vw;
            margin-left:1vw;
            @media (max-width: 400px) {
                height: 6vh;
                margin-left: 9vw;
                width: 10vw;
               
                button{
                    width:15vw;
                }
            }
        }


       

        .dropdown-toggle {
            width: 6vw;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            background-color: lighten($gray, 20%);
            border-color: lighten($gray, 20%);
            padding:0px;

            svg {
                font-size: 2vw;
                display: inline-block;
                padding: 0px;
                
            }
        }

        .dropdown-toggle:hover {
            background-color: lighten($green, 16%);
            border-color: $green;

            svg {
                font-size: 3vw;
            }
        }

        .dropdown-toggle::after {
            display: none;
        }

        

        .dropdown-item {
            color: $gray;
            height: 35px;
            font-size: 14px;
        }

        #messageArea {
            border-radius: 0px;
            height: 8vh;
            width: 60vw;
            @media (max-width: 400px) {
                width:70vw;
                margin-top:4.2vw;
                height:6vh;
            }
        }

        .send {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            width: 6vw;
            height: 8vh;
            background-color: lighten($gray, 40%);
            border-color: lighten($gray, 20%);
            color: $blue;
            font-size:1.5vw;
            padding:0px;
            @media (max-width: 400px) {
                width:10vw;
                margin-top:4.2vw;
                height:6vh;
                margin-top:0px;
                font-size:3vw;
            }
        }

        .send:hover {
            background-color: lighten($blue, 8%);
            border-color: $blue;
            color: white;
            font-size: 1.8vw;
            @media (max-width: 400px) {
                font-size:3.5vw;
            }
        }

    }
    
        hr {
            border-top: 1px solid rgba(0,0,0,.1);
          }
    

    @media (max-width: 400px) {
        hr {
            padding:1vh;
                  }
    }
    
}