$gray: #92959E;
$green: #88BD73;
$blue: #94C2ED;
$orange: #E38968;
$text:#434651;

.dialog {
    width:100%;
    padding: 0;
    float: left;
    background: #F2F5F8;
    height: 100vh;
    .chat-header {
        .dropdown-menu {
            position: absolute;
            border-radius: 5px;
            top: 10px !important;
            left: -123px !important;
            margin-top: 0;
            transform: translate3d(-5px, 17px, 0px) !important;
            height: auto;
            padding: 0;
            .dropdown-header {
                font-size: unset;
            }
            .channel-manage {
                button:hover {
                    background-color: $orange;
                }
            }
        }
        @media (min-width: 768px) {
            height: 72px;
        }       
        @media (max-width: 767.5px) {
            padding: 5px 10px 0 10px;
            height: 66px;
            .mobil-menu{
                border: none;
                background-color: #F2F5F8 !important;
                color:$gray;
            }
            .chat-with{
                padding-left: 25px;
                font-size:16px;
            }
            .dialog-icon{
                i{
                    font-size:16px;
                }
            }
        }
        .bottom-item {
            height: 35px;
        }
        .contacts {
            height: 410px;
        }
        #groupName:hover+.show-edit {
            display: block !important;
            z-index: 999;
        }
        #groupName {
            width: 190px;
            padding-left: 20px;
            font-size: 12px;
            border-color: white;
        }
        .leave-group{
            color:$orange;
            &:hover {
                -webkit-box-shadow: unset;
                box-shadow: unset;
                background-color: #dc3545!important;
                color: black;
            }
        }
        .editable-gn {
            padding: 4px;
        }
        .chat-with {
            vertical-align: middle;
            text-align: left;
            font-weight: bold;
            color:$gray;
        }
        .dialog-icon {
            float: right;
            color: lighten($gray, 8%);
            font-size: 20px;
            right: 0px;
            &:hover {
                color: lighten($gray, 20%);
            }
        }
    }
    .chat-history {
        border-bottom: 1px solid #dee1e4;
        overflow-y: auto;
        height: 76vh;
        @media (max-width: 767.5px) {
            overflow-y: hidden;
        }
        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }
        .message-data {
            margin-bottom: 15px;
            text-align: left;
            margin-right: 5px;
        }
        .online {
            color: $green;
        }
        .offline {
            color: $gray;
        }
        .circle {
            font-size: 8px;
            vertical-align: middle;
        }
        .me {
            text-align: right !important;
            margin-bottom: 15px;
            margin-right: 5px;
        }
        .message-data-time {
            color: lighten($gray, 8%);
            padding-left: 6px;
        }
        .circle-icon {
            font-size: 8px;
            color: $green;
            vertical-align: middle;
        }
        .message {
            text-align:left;
            color: $text;
            padding: 10px 15px;
            line-height: 26px;
            font-size: 16px;
            border-radius: 6px;
            margin-bottom: 30px;
            max-width: 90%;
            position: relative;
            min-width: 40px;
            &:after {
                bottom: 100%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-bottom-color: $green;
                border-width: 10px;
                margin-left: -10px;
            }
        }
        .other-message {
            background: white;
            color: $text;
            &:after {
                border-bottom-color: white;
                left:30px;
            }
        }
        .my-message {
            background: lighten($green, 8%);
            float: right;
            &:after {
                border-bottom-color: lighten($green, 8%);
                right:10px;
            }
        }
    }
    .chat-message {
        width: 100%;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        .btn-dropup {
            height: 8vh;
            width: 4vw;
            @media (max-width: 767.5px) {
                width: 6vw;
            }
        }
        .dropdown-toggle {
            width: 6vw;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            background-color: lighten($gray, 20%);
            border-color: lighten($gray, 20%);
            // padding:0px;
            svg {
                font-size: 2vw;
                display: inline-block;
                padding: 0px;
                
            }
        }
        .dropdown-toggle:hover {
            background-color: lighten($green, 16%);
            border-color: $green;
            svg {
                font-size: 3vw;
            }
        }
        .dropdown-toggle::after {
            display: none;
        }
        .dropdown-item {
            color: $gray;
            height: 35px;
            font-size: 14px;
        }

        #messageArea {
            border-radius: 0px;
            height: 8vh;
            width: 64vw;
            overflow: hidden;
            resize: none;
            line-height: 2;
            &:focus {
                border-color: $green;
            }
            @media (max-width: 767.5px) {
                width: 80vw;
            }
            @media (min-width: 1200px) {
                width: 72vw;
            }
        }

        .send {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            width: 6vw;
            height: 8vh;
            background-color: lighten($gray, 40%);
            border-color: lighten($gray, 20%);
            color: $blue;
            font-size:1.5vw;
            @media (max-width: 767.5px) {
                width:10vw;
                font-size:3vw;
            }
        }

        .send:hover {
            @media (min-width: 768px) {
                background-color: lighten($blue, 8%);
                border-color: $blue;
                color: white;
                font-size: 1.8vw;
            }
        }

    }
    hr {
        border-top: 1px solid rgba(0,0,0,.1);
    }
}