/* color */
$gray: #919192;
$green: #70C1B3;
$blue: #1976D1;
$lightblue: #63A4FF;
$darkblue: #004B9F;
$red: #FF3C00;
$darkred: #bb1e2d;
$orange: #E38968;
$text:#434651;

@mixin scrollbar {
  &::-webkit-scrollbar-track{
      display: none!important;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)!important;
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3)!important;
      border-radius: 10px !important;
  }
  &::-webkit-scrollbar {
      width: 12px !important;
  }
  &::-webkit-scrollbar-thumb {
      border-radius: 10px !important;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
      box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
      background-color: lighten($gray, 15%) !important;
  }
}

.add-member-modal {
  width: 75%;
  margin: 1.75rem auto;
  .modal-header {
    h4 {
      color: $gray;
    }
    button, button:hover, button:focus, button:active {
      outline: none;
      border: none;
    }
    #setGroupName{
      border-radius: 4px;
    }
    .feedback{
      font-size:10px;
    }
    .group-name {
      color: $blue;
      letter-spacing: 2px;
    }
  }
  .modal-body {
    @media (max-width: 767.5px){
      .selected-members{
        height: 100px;
        overflow-y: auto;
        @include scrollbar;
        div {
          .wrapper{
            position: relative;
            width: 40px;
            height: 40px;
            border: 1px solid lighten($gray, 30%);
            border-radius: 5px;
          }
          .icon {
            position: absolute;
            top: -5px;
            right: -5px;
            font-size: 10px;
            color: darken($gray, 30%);
            &:hover{
              cursor: pointer;
            }
          }
          .img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            -webkit-transform: translateY(-50%) translateX(-50%);
            vertical-align: baseline;
            border-radius: 5px;
            width: 30px;
            height: 30px;
          }
          .admin {
            position: absolute;
            top: -3px;
            right: -3px;
            font-size: 8px;
            color: $red;
          }
          .profile {
            p:nth-child(2) {
              line-height: 0.6;
            }
          }
        }
        .note {
          font-size: 8px;
          color: $red;
          vertical-align: top;
        }
        i.admin.note {
          padding: 0 3px 0 0;
          margin: 0;
          font-size: 6px;
          vertical-align: middle;
        }
      }
    }

    form {
      &:focus {
        border-color: $lightblue;
        box-shadow: 0 0 0 0.2rem lightblue;
      }
      .select-area{
        .searched-user, .big-screen {
          h5 {
            color: $gray;
          }
          .form-group {
            max-height: 157px;
          }
        }
        .list-group-item {
          display: flex;
          align-items: center;
          height: 42px;
          margin-right: 3px;
          color: $blue;
          &:hover {
            color: $darkblue;
          }
          .img{
            vertical-align: baseline;
            border-radius: 5px;
            width: 30px;
            height: 30px;
          }
          .profile {
            width: 42%;
            p:nth-child(1) {
              font-size: 0.9rem;
            }
            p:nth-child(2) {
              line-height: 0.6;
              small {
                font-weight: 650;
                font-size: 70%;
              }
            }
          }

          .searched-user-big-screen-profile {
            width: 53% !important;
          }

          button.btn-add-user, button.btn-remove-user {
            color: $blue;
            font-size: 0.7rem;
            padding: 0.2rem 0.4rem;
            background-color: unset;
            &:hover {
              text-decoration: underline;
            }
            &:active, &:focus {
              border: 0;
              outline: 0;
              box-shadow: unset;
            }
          }
        }

        i.admin {
          padding-left: 60px;
          font-size: 8px;
          vertical-align: middle;
          color: $red;
        }
        .note {
          font-size: 8px;
          color: $red;
        }
        i.admin.note {
          padding: 0 3px 0 15px;
          font-size: 6px;
          vertical-align: baseline;
        }
        .group-modal-text {
          color: $gray;
        }
      }
    }
  }
  input {
    border: 1px solid lighten($lightblue, 16%);
      &:focus {
        border-color: $darkblue;
      }
  }
  .overflow-y-auto{
    overflow-y: auto;
    @include scrollbar;
  }
  ._scrollable-div_1dj6m_1 {
    height: unset;
  }
  .alert {
    margin-top: 20px;
  }
  .btn {
    border: none;
    border-radius: 30px;
    padding: 0.275rem 0.65rem;
    font-size: 0.9rem;
    &.btn-save {
      background-color: $blue;
      &:hover {
        background-color: $darkblue;
      }
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
      }
    }

    &.btn-cancel {
      background-color: $darkred;
      &:hover {
        background-color: darken($darkred, 10%);
      }
    }
  }
}