.App {
  min-height: 100vh;
  textarea:hover, 
  input:hover, 
  textarea:active, 
  input:active, 
  textarea:focus, 
  input:focus,
  button:focus,
  button:active,
  button:hover,
  label:focus,
  .btn:active,
  .btn.active
  {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: inset 0 -1px 0 #ddd;
  }

.row {
  margin: 0!important;
}

  .light-blue-bg {
    background-color: #cce5ff75;
  }
  &.container-fluid {
    padding: 0 !important;
  }
}