$gray: #92959E;
$green: #88BD73;
$blue: #94C2ED;
$orange: #E38968;

.addUserModal {
  .modal-header {
    h4 {
      color: $gray;
    }
  }
  form {
    input {
      margin-bottom: 3px;
      &:focus {
        border-color: #a0ca8f;
        box-shadow: 0 0 0 0.2rem rgba(160,202,143,0.75);
      }
    }
  }
  .list-group {
    .list-group-item {
      color: $green;
      &:hover {
        background-color: #f2f2f2;
      }
      div:nth-child(1) {
        img {
          width: 35px;
          vertical-align: baseline;
        }
      }
      div:nth-child(2){
        vertical-align: top;
        p:nth-child(2) {
          line-height: 0.6;
        }
      }
    }
  }
}