/* color */
$gray: #919192;
$green: #70C1B3;
$blue: #1976D1;
$lightblue: #63A4FF;
$darkblue: #004B9F;
$red: #FF3C00;
$orange: #E38968;
$text:#434651;

.add-member-modal {
  .form-check-label{
    color:black !important;
  }
  .btn {
    border: none;
    border-radius: 30px;
    &.btn-add {
      background-color: $blue;
      &:hover {
        background-color: $darkblue;
      }
    }

    &.btn-cancel {
      background-color: $gray;
      &:hover {
        background-color: darken($gray, 20%);
      }
    }
  }
}
