$backgroundColor: #484951;

.sidebar {
  background-color: $backgroundColor;
  height: 100vh;
  .profile {
    height: 85px;
    .user-holder {
      padding-bottom: 0.5rem;
    }
    .dropdown {
      display: inline-block;
      .btn-li {
        color: black;
        &:hover {
          cursor: pointer;
          background-color: #f8f9fa;
        }
        .btn-upload{
          background-color: unset;
          color: black;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }

    h5 {
      font-size: 20px;
      color: white;
      font-weight: bold;
      display: inline-block;
      margin: 0;
      padding-left: 5px;
    }

    img {
      width: 40px;
      height: auto;
    }
  }
  .menu {
    width: 100%;
    display: inline-block;
    .nav-link {
      padding: 0.3rem 0.8rem;
      color: lightgray;
      font-weight: bold;
      display: inline-block;
      text-align: left;
      width: 60%;
      order: 1;
      @media (min-width: 768px){
        width: 85%;
        order: 0;
      }

      //TODO: Starred styling
      /*&.nav-link:first-child {
         width: 100% !important;
         padding-left: 0;
      } */

      .nav-item {
        text-align: left;
        display: inline-block;
      }
    }
    .nav-link.contacts{
      width: 100%;
      &:hover {
        color: #fff;
        background-color: darken($backgroundColor, 10%);
      }
    }

    img {
      width: 30px;
      vertical-align: center;
    }

    .fa-star {
      color: gold;
    }

    .flexWrapper {
      display: flex;
      align-items: center;
    }

    .fa-plus {
      color: white;
      font-size: small;
      order: -1;
      @media (min-width: 768px){
        order: 1;
      }
      &:hover {
        cursor: pointer;
      }
    }

    .fas, .far {
      display: inline-block;
    }
  }

}

hr {
  border-color: #808080;
}

.dropdown-toggle::after {
  color: white;
  font-size: 20px;
  vertical-align: middle;
  margin-left: 10px;
}

@media (min-width:768px){
  .btn-showChat{
    display:none;
  }
}