@import './node_modules/emoji-picker-react/dist/universal/style.scss';
/* color */
$backgroundColor: #484951;
$gray: #919192;
$green: #70C1B3;
$blue: #1976D1;
$lightblue: #63A4FF;
$darkblue: #004B9F;
$red: #FF3C00;
$darkred: #bb1e2d;
$orange: #E38968;
$text:#434651;

$fontLg: 20px;
$fontMd: 16px;
$fontSm: 12px;

li {
  width: 98%;
  // Last message on page has less margin
  &:nth-last-child(1) {
      .message {
        margin-bottom: 0px!important;
      }
  }
  .group-message{
    word-break: break-word;
    text-align:left;
    color: $text;
    padding: 0px 63px;
    font-size: $fontMd;
    border-radius: 6px;
    margin-top:10px;
    margin-bottom: 10px;
    position: relative;
    background-color: lighten($green, 30%);
  }
  //My data on messages
  .me {
    text-align: left !important;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  .message.my-message {
    margin-left: 20px;
    color: #fff;
    background: lighten($blue, 8%);
    float: left;
    min-width: 40px;
    max-width: 90%;
    @media (max-width: 767.5px) {
      .btn-group, .btn-group:hover {
        display: inline-block!important;
        position: absolute;
        top: -8px;
        right: 15px;
      }
    }
    &:hover {
      .btn-group {
        display: inline-block!important;
        position: absolute;
        top: -8px;
        right: 15px;
      }
    }
    i.fa-pen {
      color: white;
      position: absolute;
      background-color: $backgroundColor;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      border: $backgroundColor 1px solid;
      padding: 5px 0 0 5px;
      font-size: 9px;
      &:hover, &:focus, &:active {
        color: darken(white, 10%);
        background-color: darken($backgroundColor, 10%);
        border-color: darken($backgroundColor, 10%);
        cursor: pointer;
      }
    }
    .dropdown-menu {
      position: absolute;
      transform: none!important;
      will-change: unset!important;
      border-radius: 5px;
      top: -30px!important;
      margin-top: 0;
      height: auto;
      padding: 0;
        .dropdown-header {
            color: $gray;
            font-weight: bold;
            &:hover {
              cursor: unset !important;
          }
        }
        .dropdown-item {
          font-size: 0.8rem;
          font-weight: 600;
          color: $blue;
          line-height: normal;
          &:hover, &:active {
            cursor: pointer;
            background-color: lighten($gray, 35%);
          }
          &.delete-message {
            color: $darkred;
            &:hover, &:focus, &:active {
              border-radius: 5px;
              background-color: $darkred;
              color: white;
            }
          }
        }
      }
    &:after {
      border-bottom-color: lighten($blue, 8%);
      left:15px;
    }
  }

  //Other users data on messages
  .message-data {
    margin-bottom: 15px;
    text-align: left;
    margin-right: 5px;
    .circles {
      .online {
        color: #28a745!important;
        font-size: 8px;
      }
      .offline {
        color: darken(#dc3545, 15%)!important;
        font-size: 8px;
      }
    }
    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }
  }
  //All messages
  .message {
    word-break: break-word;
    text-align:left;
    color: $text;
    padding: 8px 15px;
    line-height: 26px;
    font-size: $fontMd;
    border-radius: 6px;
    margin-bottom: 25px;
    position: relative;
    &:after {
      bottom: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: $green;
      border-width: 10px;
      margin-left: -10px;
    }
  }
  // My messages
  .message.my-message {
    margin-left: 20px;
    color: #fff;
    background: lighten($blue, 8%);
    float: left;
    min-width: 30px;
    &:after {
      border-bottom-color: lighten($blue, 8%);
      left:15px;
    }
  }
  // Other users messages
  .other-message {
    background-color: lighten($gray, 30%);
    color: $text;
    min-width: 70px;
    float:left;
    &:after {
      border-bottom-color: lighten($gray, 30%);
      left:40px;
    }
  }
}

.files {
  text-decoration: underline;
}

.upload-image {
  width: 100% !important;
  height: 100%!important;
}

.img-upload-holder {
  max-width: 200px;
  max-height: 200px;
  background-color:white;
  box-shadow: rbga(0,0,0,0.5);
  padding: 0!important;
  border-radius: 10px;
  cursor: pointer;
}

.removeBG {
  background-color: unset !important;
  padding: 0!important;
  box-shadow: 1px 1px 20px 5px rgba(0,0,0,0.2);
  &::after {
    display:none;
  }
}

.removeBG pre, .code-snippet pre{
  margin: 0!important;
}

.code-snippet {
  background-color: unset !important;
  padding: 0!important;
  box-shadow: 3px 3px 3px 2px rgba(136, 136, 136, 0.3);
  border: 3px solid black;
  width: 90%;
  margin-left: 5px;
  position: relative;
  &::after{
    display:none;
  }
}

.hljs{
  padding: 15px;
}

.full-height-btn{
  position: absolute;
  top: 0;
  background-color: gray;
  left: 50%;
  transform:translateX(-50%);
}

.highlight-small {
  background-color: rgb(42, 42, 46);
  height: 20vh;
  overflow-y: hidden;
}

.highlight-big {
  background-color: rgb(42, 42, 46);
  padding: 0!important;
  box-shadow: 3px 3px 3px 2px rgba(136, 136, 136, 0.3);
  border: 3px solid black;
  width: 90%;
  height: 100%;
  width: 100%;
}

.far.fa-star {
  color: lighten($gray, 8%);
  cursor: pointer;
  &:hover {
    color: $blue;
  }
}

.fas.fa-star {
  color: gold;
  cursor: pointer;
}
