@import './node_modules/emoji-picker-react/dist/universal/style.scss';
/* color */
$backgroundColor: #484951;
$gray: #919192;
$green: #70C1B3;
$blue: #1976D1;
$lightblue: #63A4FF;
$darkblue: #004B9F;
$red: #FF3C00;
$darkred: #bb1e2d;
$orange: #E38968;
$text:#434651;

$fontLg: 20px;
$fontMd: 16px;
$fontSm: 12px;

li {
  width: 98%;
}
.message-data {
margin-bottom: 15px;
text-align: left;
margin-right: 5px;
}
.online {
color: $lightblue;
}
.offline {
color: $gray;
}
.circle {
vertical-align: middle;
}
.me {
text-align: left !important;
margin-bottom: 15px;
margin-left: 15px;
}
.message-data-time {
color: lighten($gray, 8%);
padding-left: 6px;
}
.circle-icon {
color: $blue;
vertical-align: middle;
}
.message {
text-align:left;
color: $text;
padding: 8px 15px;
line-height: 26px;
border-radius: 6px;
margin-bottom: 30px;
position: relative;
&:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: $green;
  border-width: 10px;
  margin-left: -10px;
}
}
.other-message {
background: white;
color: $text;
&:after {
  border-bottom-color: white;
  left:40px;
}
}

.my-message {
margin-left: 20px;
color: #fff;
background: lighten($blue, 8%);
float: left;
min-width: 40px;
max-width: 630px;
&:hover {
  .btn-group {
    display: inline-block!important;
  }
}
i.fa-pen {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 2px;
  background-color: $backgroundColor;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: $backgroundColor 1px solid;
  padding: 5px 0 0 5px;
  font-size: 9px;
  &:hover {
    color: darken(white, 10%);
    background-color: darken($backgroundColor, 10%);
    border-color: darken($backgroundColor, 10%);
    cursor: pointer;
  }
}
.dropdown-menu {
  position: absolute;
  border-radius: 5px;
  top: -30px!important;
  margin-top: 0;
  height: auto;
  padding: 0;
    .dropdown-header {
        color: $gray;
        font-weight: bold;
        &:hover {
          cursor: unset !important;
      }
    }
    .dropdown-item {
      font-size: 0.8rem;
      font-weight: 600;
      color: $blue;
      line-height: normal;
      &:hover, &:active {
        cursor: pointer;
        background-color: lighten($gray, 35%);
      }
      &.delete-message {
        color: $darkred;
        &:hover {
          background-color: $darkred;
          color: white;
        }
      }
    }
  }
&:after {
  border-bottom-color: lighten($blue, 8%);
  left:15px;
}
}