.gitApps-sideDrawer{
    background-color: #F6F8FA;
    position: absolute;
    top: 0;
    right: -500px;
    height: 100vh;
    width: 500px;
    transition: all 0.5s;
    overflow-y: scroll;
}

.gitApps-sideDrawer-open{
    right: 0;
    width: 500px;
}

.gitApps-sideDrawer-close-button{
    z-index: 5;
    background-color: transparent;
    outline: none;
    border: none;
    position: fixed;
}   

.gitApps-sideDrawer-close-button:hover{
    background-color: transparent;
    box-shadow: none !important;
    color: #366AC8;
}

.gitApps-sideDrawer-header{
    position: fixed;
    height: 145px;
    width: 500px;
    z-index: 4;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #25292C;
}

.gitApps-sideDrawer-git-icon{
    color: #fff
}

.gitApps-sideDrawer-import-form-content{
    margin-top: 145px;
}

.gitApps-sideDrawer-import-form-header{
    border-bottom: 1px solid #366AC8;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.gitApps-sideDrawer-import-form-header:hover{
    color: #366AC8;
}

.gitApps-sideDrawer-import-form-header-label{
    margin-bottom: 0;
}

.gitApps-sideDrawer-import-form{
    position: relative;
}

.gitApps-sideDrawer-import-form-label{
    color: #000;
}

.gitApps-sideDrawer-submit-button{
    background-color: transparent;
    box-shadow: none !important;
    background-color: #366AC8;
    color: #fff;
}

.gitApps-sideDrawer-submit-button:hover{
    background-color: #366AC885;
}

.gitApps-sideDrawer-spinner{
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    z-index: 3;
    background: rgb(37,41,44);
    background: radial-gradient(circle, rgba(37,41,44,0.2) 0%, rgba(250,246,248,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gitApps-sideDrawer-appsList{
    list-style-type: none;
    padding: 0;
}

.gitApps-sideDrawer-appsList-app-button{
    width: 100%;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.gitApps-sideDrawer-appsList-app-button:hover{
    color: #366AC8;
    border: none;
    box-shadow: none;
}

.gitApps-sideDrawer-appsList-app-label{
    margin: 0;
}