.row {
    margin: 0 !important;
}

.login-area {

    background-image: url("./img/main-image.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;

    .heading-area{
        margin: 0;
    }

    .side-menu{
        // margin-left:2vw;
        height:100vh;
        padding-right:0px;
        background-color: #F2F5F8;
        .navbar-toggler {
            margin-left: 15px;
            margin-top:15px;
            margin-bottom: 15px;
        }
    }

    h1 {
        text-align: center;
        color: rgb(238, 238, 238);
        font-family: 'Chakra Petch', sans-serif;
    }

    .msg-area {
        padding: 10px;
        color: rgb(238, 238, 238);
        background: rgba(0, 0, 0, .6);
        border-radius: 5px;
        text-align: center;
        font-family: 'Chakra Petch', sans-serif;
    }

    .btn-login, .btn-create-acc, .btn-logout, .overlay {
        background: rgba(0, 0, 0, .6);
    }

}

.container-fluid {
  padding: 0;
}

.hide-menu{
    width:25vw;
    height:100vh;
    padding:0px !important;
}

.hide-chat{
    width:75vw;
    height:100vh;
    padding:0px !important;
}
@media (max-width: 767.5px) {
    .hide-menu{
        display:none;
    }
    .hide-chat{
        display:none;
    }
  }
