.login-area {
    .side-menu{
        padding-right:0px;
        background-color: #F2F5F8;
        .navbar-toggler {
            margin-left: 15px;
            margin-top:15px;
            margin-bottom: 15px;
        }
    }

    h1 {
        text-align: center;
    }

    .login-area {
        text-align: center;
        background-color: rgb(255, 255, 255);
    }

    .msg-area {
        background-color: rgb(22, 36, 158);
        padding: 10px;
        color: rgb(207, 207, 207);
        border-radius: 5px;
    }

    .btn-login, .btn-create-acc, .btn-logout {
        background-color: rgb(22, 36, 158);
    }
}

.container-fluid {
    padding: 0;
}

