/******  COLORS  ******/
$gray: #919192;
$green: #70C1B3;
$blue: #1976D1;
$lightblue: #63A4FF;
$darkblue: #004B9F;
$red: #FF3C00;
$orange: #E38968;
$text:#434651;
$backgroundColor: #484951;

/******  SCROLLBAR STYLING  ******/
@mixin scrollbar {
  &::-webkit-scrollbar-track{
      display: none!important;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)!important;
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3)!important;
      border-radius: 10px !important;
  }
  &::-webkit-scrollbar {
      width: 12px !important;
  }
  &::-webkit-scrollbar-thumb {
      border-radius: 10px !important;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
      box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
      background-color: lighten($gray, 15%) !important;
  }
  @media (max-width: 767.5px) {
      overflow-y: hidden !important;
  }
}

.viewMembers {
  .modal-header {
    h4 {
      color: $gray;
    }
    button, button:hover, button:focus, button:active {
      outline: none;
      border: none;
    }
  }
  .modal-body {
    .member-list {
      .list-group-item {
        &:hover {
          p {
            &:first-of-type {
              color: $darkblue;
            }
          }
        }
        &:not(:first-child) {
          border-top: none;
        }
        &.admin-user {
          height: 45.25px;
          .admin-text {
            font-size: 0.8rem;
            color: $gray;
            &:hover {
              cursor: unset;
            }
          }
        }
        .img {
          border-radius: 5px;
          width: 30px;
          height: 30px;
        }
        p {
          font-weight: bold;
          vertical-align: middle;
          &:first-of-type {
            color: #1976D1;
          }
        }
        button.btn-make-admin {
          border-radius: 30px;
          font-size: 0.8rem;
          padding: 0.3rem 0.5rem;
          background-color: $blue;
          &:hover {
            background-color: $darkblue;
          }
          &:focus {
            box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
          }
        }
      }
    }
  }
}
